.slide-img{
  opacity: 0.6;
}

.slide-content{
  color:black;
}

.cards{
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.card{
  margin: 15px;
}

.card:hover{
  background-color: antiquewhite;
  color:darkslategray;
  border-radius: 50px;
}

.card{
  height: 13rem;
}

.item1 , .item2, .item3, .item4, .item5, .item6{
  display: flex;
  flex-direction: row;
}

.item-img{
  height: 10rem;
  width: 10rem;
}

.food-items{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px ;
}

.item-para{
  margin-top: 50px;
}

form{
  background-color: beige;
  margin-top: 80px;
}

.navbar {
  background-color: #343a40; 
}

#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .slide-content {
    font-size: 1.2rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }

  .food-items{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    flex: 1 0 100%;
  }
 .slide-img{
  height:350px;
 }
}